.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 413px) {
  .drive-img {
    width: 10%;
    /* Reduce el ancho a la mitad de la img de drive*/
    height: auto;
    /* Mantiene el aspecto de la imagen */
  }
}

.App-logo {
  pointer-events: none;
}

.App-link {
  color: white;
}

.App-link:hover {
  color: grey;
}

.components {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.data-container {
  margin-top: '10px'
}

.container-custom {
  max-width: 70%;
  margin-top: 6rem;
  width: 100%;
}

@media (max-width: 413px) {
  .container-custom {
    max-width: 100%;
    margin-top: 6rem;
  }
}


.container-custom-company {
  max-width: 65%;
  margin-top: 2rem;
  width: 100%;
}

.App-pdf-table {
  background-color: #b7cce4;
  border-radius: 8px;
}


.App-header {
  background-color: #dfe5f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 0, 0) !important;

  font-family: 'Roboto', sans-serif;
}


/*tabla report card*/
.custom-table {
  border: 1px solid black;
}

.header-cell {
  background-color: #4f80bd !important;
  color: white !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.spinner-consolidate {
  padding-top: 6rem;
}

/* Tab. */

.nav-tabs {
  --bs-nav-tabs-border-color: none !important;
  border-bottom: none !important;
}

.nav {
  padding-left: 0.8rem !important;
}

/*Login */

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: relative;
  padding-bottom: 120px;
  /* Esto es solo un valor sugerido, ajústalo según tus necesidades */
  margin-bottom: 20px;

}

.login-form h1 {
  text-align: center;
  color: #333;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .form-group label {
  display: block;
  color: #666;
  font-weight: bold;
}

.login-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.login-form .form-group input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.login-form .form-group input[type="submit"]:hover {
  background-color: #45a049;
}


/*Boton Login*/
.semi-circle-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #074a77;
  /* color del botón */
  color: white;
  width: 180px;
  /* anchura del semi-círculo */
  height: 40px;
  /* altura del semi-círculo */
  border-radius: 70px 70px 0 0;
  /* bordes redondeados arriba */
  border: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* centrar el botón */
  cursor: pointer;
  overflow: hidden;
}

.semi-circle-login-btn:hover {
  background-color: #042f4b
}

/*Termina Login*/

/* Spinner plane */
.plane-spinner {
  position: fixed;
  /* Fijamos la posición para que ocupe toda la pantalla */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Fondo */
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  /*arriba de otros elementos */
}

.plane-spinner svg {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Termina Spinner plane*/

/*Button logout*/
.logout-button {
  border: 2px solid rgba(255, 255, 255, 0.5);
  /* Borde semitransparente blanco */
  background-color: transparent;
  /* Sin fondo para empezar */
  color: white;
  /* Letras blancas */
  transition: all 0.3s ease;
  /* Transición suave */
  border-radius: 20px;
  /* Bordes redondeados */
  font-weight: bold;
  /* Texto en negrita */
}

.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /* Un ligero fondo blanco al pasar el mouse sobre él */
  border: 2px solid white;
  /* Borde blanco al pasar el mouse */
}

.logout-button:active {
  background-color: rgba(255, 255, 255, 0.2);
  /* Un poco más de fondo blanco al hacer clic */
}

/*termina Button logout*/

.center-text {
  text-align: center;
}

/* input file*/
.file-btn {
  display: none;

}

.file_input {
  margin-left: 2rem;
}

.tablaUsuario {
  width: 100%;
}

body {
  background-color: #f5f5f5;
  /* Gris claro, por ejemplo */
}

/* Card home y graficos */

.pie-chart-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  height: 320px;
  transition: transform 0.2s;
}

.pie-chart-card:hover {
  transform: translateY(-5px);
}

.pie-chart-card-large:hover {
  transform: translateY(-5px);
}

.chartsCont {
  justify-content: center;
  align-items: center;
}

.pie-chart-card-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s;
}


/* Estilo para pantallas con un ancho máximo de 768px (típicamente tablets y móviles) */
@media (max-width: 420px) {
  .pie-chart-card {
    height: 200px;
  }
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info-icon {
  margin-right: 10px;
}

@media (max-width: 576px) {

  /* Ajustes para pantallas de tamaño móvil */
  .user-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-info-icon {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

/* Termina Card home y graficos */

.container-table-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 821px) {
  .table-list {
    width: 9lu0vw;
  }
}

.companies-cards {
  display: flex;
  flex-wrap: wrap;
}

.company-card {
  width: 150px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.navbar-custom {
  padding-left: 5px;
  padding-right: 5px;
  min-height: 60px;
}

.MuiDataGrid-columnHeader--alignCenter .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center !important;
  text-align: center !important;
}

.MuiDataGrid-columnHeaderTitle {
  text-align: center !important;
  flex-grow: 1 !important;
}

.nav-link {
  color: #bdbcbc;
}

.nav-link:hover {
  color: rgb(232, 232, 232)
}