:root {
  --amig-bg-color: #f3fbfe;
  --amig-ligth-green: #7bdcb5;
  --amig-vivid-green: #00a766;
  --amig-ligth-blue: #8ed1fc;
  --amig-vivid-blue: #0693e3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}